<h1>Welcome to <%= ENV[FRONTEND_APP_HOST] %>, <%= @user.first_name %> <%= @user.last_name %></h1>
  <p>
    You have successfully signed up to <%= ENV[FRONTEND_APP_HOST] %>,
    your username is: <%= @user.username %>.<br>
  </p>
<p>Thanks for joining and have a great day!</p>